.adminListScreen {
	min-width: 800px;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	padding: 40px;
	border-radius: 25px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	&__titleBar {
		display: flex;
		width: 100%;
		align-items: center;
		height: 40px;
		margin-bottom: 30px;

		> i {
			margin-right: 15px;
			font-size: 1.4rem;
			color: rgb(230, 46, 0);
			cursor: pointer;
		}

		> i:hover {
			color: rgb(58, 58, 58);
		}
	}

	&__title {
		color: rgb(230, 46, 0);
		font-weight: 700;
		font-size: 1.7rem;
	}

	&__titleButton {
		margin-left: auto;
		cursor: pointer;
		outline: none;
		border: none;
		background: rgb(211, 42, 0);
		color: white;
		font-weight: 600;
		padding: 0.75em 1em;
		height: 45px;
		border-radius: 25px;
		transition: background 350ms ease-out;
	}
	&__titleButton:hover {
		background: rgb(201, 114, 0);
	}

	&__table {
		border-collapse: collapse;
	}

	&__table > thead > tr > th,
	&__table > tbody > tr > td {
		padding: 10px 25px;
		text-align: center;
	}
	&__table > thead > tr,
	&__table > tbody > tr {
		padding: 10px 15px;
	}

	&__table > thead {
		background: rgb(211, 42, 0);
		color: white;
	}

	&__table > tbody > tr:nth-child(even) {
		background-color: rgb(238, 238, 238);
		border-radius: 5px;
	}

	&__Id {
		cursor: pointer;
	}

	&__Id:hover {
		color: rgb(0, 112, 177);
	}

	&__AdminLink {
		cursor: pointer;
		color: rgb(211, 42, 0);
		font-weight: 600;
		background: none;
		background: linear-gradient(
				to left,
				transparent 50%,
				rgb(0, 173, 29) 50%
			)
			right;
		background-size: 200%;
		transition: 350ms ease-out;
	}

	&__AdminLink:hover {
		background-position: left;
		color: white;
	}
}
