.homeScreen {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	> h1 {
		color: rgb(53, 53, 53);
		margin-bottom: 20px;
	}
}
