$color: rgb(0, 156, 8);
$secondaryColor: rgb(0, 187, 16);
$colors: rgb(190, 255, 206);
.message {
	&__open {
		display: flex;
		width: 430px;
		max-width: 500px;
		border-radius: 10px;
		margin-bottom: 20px;
	}

	&__open > i {
		margin: 18px 15px 0 auto;
		font-size: 20px !important;
		cursor: pointer;
	}

	&__open > i:hover {
		color: rgb(24, 24, 24) !important;
	}

	&__hide {
		display: none;
	}

	&__message {
		padding-left: 20px;
	}
}
